@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";

header {
  @include go-flex(row, wrap, space-around, center);
  max-width: 1200px;
  margin: 0 auto;
  background-color: gray;
  margin-bottom: 100px;

  nav {
    width: 500px;

    ul {
      @include go-flex(row, wrap, space-between, center);
    }
  }

  .burger-icon {
    @include go-flex(column, nowrap, space-between, center);
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;

    span {
      display: block;
      width: 100%;
      height: 5px;
      background-color: black;
      border-radius: 5px;
    }
  }
}

main {
  @include go-flex(row, wrap, space-between);
  width: 1200px;
  margin: 0 auto;

  .widget {
    @include go-flex(column);
    @include w-h(360px, 360px);
    border: 1px solid black;
    transition: all 0.7s linear;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .bg-image {
      @include w-h(100%, 180px);
      // @extend %center-element;
      padding-top: 30px;
      padding-left: 40px;
      background-image: url(../images/image.svg);

      p {
        color: $secondary-color;
        font-size: $lg-font-size;
      }
    }

    .description {
      @include w-h(100%, 180px);
      padding-top: 70px;
      padding-left: 40px;

      p {
        color: $primary-color;
        font-size: $sm-font-size;
        width: 240px;
        line-height: 22px;
      }
    }
  }
}

@import "media";
