@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";

main {
  @include go-flex(row, space-between);
  width: 1200px;
  margin: 0 auto;

  .widget {
    @include go-flex(column);
    @include w-h(360px, 360px);
    border: 1px solid black;
    transition: all 0.7s linear;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .bg-image {
      @include w-h(100%, 180px);
      // @extend %center-element;
      padding-top: 30px;
      padding-left: 40px;
      background-image: url(../images/image.svg);

      p {
        color: $secondary-color;
        font-size: $lg-font-size;
      }
    }

    .description {
      @include w-h(100%, 180px);
      padding-top: 70px;
      padding-left: 40px;

      p {
        color: $primary-color;
        font-size: $sm-font-size;
        width: 240px;
        line-height: 22px;
      }
    }
  }
}
